workDir = 's3://steveyost-seqera/work'

params {
    gene_counts = 's3://steveyost-seqera/data/gene_counts.tsv'
    metadata = 's3://steveyost-seqera/data/metadata.csv'
    output_dir = 's3://steveyost-seqera/results'
    low_expression_threshold = 10
    n_repeats = 10
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters 
}

process {
    withName:process_script {
        container = 'community.wave.seqera.io/library/pip_boto3_fsspec_matplotlib_pruned:8d2f31f85ed73215'
    }
}

profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }    
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.strategy           = 'conda,container'
    }

    fusion {
        fusion.enabled = true
    }
    tower {
        tower.enabled = true
    }
}
