aws {
    region = 'us-east-1'
}

process {
    executor = 'awsbatch'
    container = 'your_ecr_repo/pipeline_image:latest'
}

workDir = 's3://your-bucket-name/work'

params {
    gene_counts = 's3://your-bucket-name/data/gene_counts.tsv'
    metadata = 's3://your-bucket-name/data/metadata.csv'
    output_dir = 's3://your-bucket-name/results'
    low_expression_threshold = 10
    n_repeats = 10

    validate_params = true
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters 
}
