workDir = 's3://steveyost-seqera/work'

params {
    gene_counts = 's3://steveyost-seqera/data/gene_counts.tsv'
    metadata = 's3://steveyost-seqera/data/metadata.csv'
    output_dir = 's3://steveyost-seqera/results'
    low_expression_threshold = 10
    n_repeats = 10
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters 
}

process {
    withName:process_script {
        container = 'journeymansix/gmgi_nf_gene_count_pca:1.0'
    }
}

